*.dll
*.mdb
*.exe
*.pidb
*.userprefs
*.app
*.pdb
Makefile
Makefile.in
heap-shot-gui
obj
bin
heap-shot
INSTALL
aclocal.m4
autom4te.cache
config.log
config.status
configure
install-sh
missing
COPYING
.DS_Store

